.tables {
  height: 100vh;
  display: flex;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* table fixtures */

.table-fixtures {
  flex: 1;
  background-color: rgb(223, 213, 201);
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 85%;
  height: 50%;
  
}

.table-row-color {
  background-color: rgb(206, 206, 206);
}

.table-game {
  border-bottom: 1px solid #333;
}

thead {
  background-color: #333;
  color: #fff;
}

/* table standings */

.table-standings {
  background-color: rgb(184, 184, 216);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-standings-list {
  width: 90%;
  height: 60%;
}

.table-standings-list td {
  border-bottom: 1px solid #333;
  padding: 10px;
}