.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("https://images.unsplash.com/photo-1589487391730-58f20eb2c308?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(0.3); */

    /* image overlay */
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.6);
    color: white;
}



.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .header {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.welcome {
    width: 500px;
}
